*{
    font-family: 'Roboto';
    font-size: 20px;
}
.text-strike {
    text-decoration: line-through;
}
.btn_format {
   
    float: right;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #eeeeee;
   
}
.btn_format:hover {
    background-color: cyan;
  }